.hero__title{
  color:var(--background-primary-color);
  display: inline-block;
  
  
  padding-top: 106px;
  margin: 0px 0 30px 0px;
  
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  }