.page-header__logo{
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-size: 26px;
  line-height: 1.2;
  font-weight: 700;
  color:var(--primary-color);
  margin: 24px 93px 25px 0;
}

.page-header__logo_blue{
  color:var(--secondary-color)
}